/* CSS für Select */
.weiterButton {
  margin-top: 20px;
  margin-left: 30%;
  margin-right: 30%;
  background-color: #009879;
  height: 70px;
  cursor: pointer;
  border: 2px solid #00745d;
  border-radius: 4px;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}
.weiterButton:hover {
  background-color: rgba(68, 108, 240, 0.74);
}

/* Grid-Aufteilungen*/
.tabellenFelderAuswahldings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 90px 1fr 1fr;
}

.fieldSelected {
    margin-left: 10%;
    margin-top: 65px;
    max-width: 600px;
    height: 500px;
    background-color: white;
    border-style: solid;
    border-color: #cccccc;
    overflow-x: scroll;
    overflow-y: scroll;
}
tr:nth-child(even) {background-color: #DDD;}
.selecttable {
    border: 1;
    padding: 2px;
}

.sortierung {
    display: flex;
    flex-direction: row;
    background-color: var(--sidebar-color);
    max-width: 540px;
    height: 80px;
    margin-left: 10%;
    margin-top: 25px;
}
.sortierung .sortierung-select{
    width: 200px;
    margin-left: 10px;
}