@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
:root{
    /* ===== Farben und deren Variablen ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #009879;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: black;
    --überschrift-color: #F6F5FF;
    --login-button-schrift-color: #F6F5FF;
    --button-schrift-color: #F6F5FF;
    --border-color: #00745d;
    --hover-color: #015847;
    --input-color: black;
    --signup-color: blue;

    /* ====== Transition = Verschiebung in Sekunden, ease ist die Bewegungsart ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}
/* Body im Darkmode*/
body.dark{
    --body-color: #18191a;
    --sidebar-color: #242526;
    --primary-color: #009879;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
    --überschrift-color: #F6F5FF;
    --button-schrift-color: #F6F5FF;
    --login-button-schrift-color: #F6F5FF;
    --border-color: #00745d;
    --hover-color: #015847;
    --input-color: #F6F5FF;
    --signup-color: lightblue;
}
body {
    /*min-height: 100vh;*/
    background-color: var(--body-color);
    transition: var(--tran-05);
    height: 100%;
    width: 100%;
}
.kopfbereich {
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.kopfbereich .ohneLogin {
    background-color: var(--primary-color);
    color: var(--button-schrift-color);
    width: 100px;
    height: 50px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-weight: 650;
    font-size: 13px;
}
.kopfbereich .ohneLogin:active {
    transform: scale(0.9);
}
.kopfbereich .ohneLogin:hover {
    background-color: var(--hover-color);
}

.loginbox {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: var(--primary-color-light);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 380px;
    border-radius: 10px;
    box-shadow: 0px 15px 20px #242526;
}
.loginbox .inputbereich {
    padding: 10px 30px 50px 30px;
}
.loginbox .eingabe {
    /*padding: 10px 30px 50px 30px;*/
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.headline {
    color: var(--überschrift-color);
    background-color: var(--primary-color);
    text-align: center;
    line-height: 100px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.eingabe input {
    height: 100%;
    width: 100%;
    outline: none;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    transition: all 0.3s ease;
    padding-left: 20px;
    background-color: var(--primary-color-light);
    color: var(--input-color);
    font-size: 17px;
}
.eingabe input:focus,
.eingabe input:valid{
    border-color: #4158d0;
}

.eingabe label{
    position: absolute;
    top: 50%;
    left: 20px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    color: var(--input-color);
}
.eingabe input:focus ~ label,
.eingabe input:valid ~ label{
    top: 0%;
    color: #4158d0;
    background: var(--primary-color-light);
    transform: translateY(-50%);
}

.eingabe.success input {
    border-color: #09c372;
}

.eingabe.error input {
    border-color: #ff3860;
}

.eingabe .error {
    color: #ff3860;
    font-size: 9px;
    height: 13px;
    text-align: left;
}
.eingabe small {
	color: #e74c3c;
	position: absolute;
	bottom: 0;
	left: 0;
	visibility: hidden;
}

.eingabe.error small {
	visibility: visible;
}

.inputbereich .pwremember {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-around;
}
.inputbereich .rememberbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
}
.inputbereich .rememberbox .remembertext {
    color: var(--input-color);
}
.inputbereich .loginbutton {
    height: 50px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background-color: var(--primary-color);
    margin-top: 10px;
    color: var(--login-button-schrift-color);
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}
.inputbereich .loginbutton:active {
    transform: scale(0.9);
}
.inputbereich .loginbutton:hover {
    background-color: var(--hover-color);
}

.loginbereich .forgotpassword {
    text-align: left;
    box-sizing:border-box;
}
.forgotpassword a {
    color: var(--signup-color);
}

.signup {
    text-align: center;
    margin-top: 30px;
    color: var(--input-color);
}
.signup a {
    color: var(--signup-color);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
}

.footer .unteresBild {
    padding-right: 5px;
    padding-bottom: 5px;
    height: 70px;
    width: 126px;
    border-radius: 6px;
}
/* Light-Dark-Mode */
.light-dark {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 240px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.light-dark .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.light-dark .text,
.light-dark .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.light-dark .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
    text-align: center;
    margin-top: 12px;
}
.light-dark .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
    height: 50px;
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-items: space-between;
    margin-top: 15px;
    margin-left: 5px;
}
.mode .sun-moon{
    height: 50px;
    width: 60px;
}
/* Sonnen- bzw. Mondsymbol wird versteckt oder angezeigt, je nach Modus */
.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}
/* Switch-Kasten*/
.light-dark .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
/* Switch-Symbol*/
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}
/* Punkt im Switch*/
.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}
/* Punkt im Darkmode*/
body.dark .switch::before{
    left: 20px;
}
